/* Estilo general para todo el BorderPane */
BorderPane {
    -fx-background-color: #4f5664; /* Fondo oscuro general */
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}



/* Estilo para el menú lateral (VBox en <left>) */
.menu-lateral{
    -fx-background-color: #3e4551; /* Fondo más oscuro para el menú */
    -fx-border-color: transparent #6c7a89 transparent transparent ;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}


/* Botones del menú lateral */
Button {
    -fx-background-color: transparent;
    -fx-text-fill: #dcdde1;
    -fx-font-size: 16px;
    -fx-padding: 12 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btnAccion{
    -fx-background-color: #1abc9c;
    -fx-padding: 5 10;
}

.btnAccion:hover{
    -fx-background-color: #1a9a8a;
    -fx-text-fill: #fff;
}
.btnAccion:pressed{
    -fx-background-color: #067e63;
    -fx-text-fill: #bbb;
}

.btnAsignar{
    -fx-background-color: #6c7a89;
    -fx-padding: 5 10;
    -fx-font-size: 14px;
    -fx-font-weight: none;
}

Button:hover {
    -fx-background-color: #5c5f76;
    -fx-text-fill: #1abc9c;
}

Button:pressed {
    -fx-background-color: #1abc9c;
    -fx-text-fill: white;
}

.escena-actual{
    -fx-background-color: #1abc9c;
    -fx-text-fill: white;
}

/* Estilo para el contenido principal (VBox dentro del AnchorPane) */
.main-content VBox{
    -fx-background-color: #1abc9c;
}

.main-content Label {
    -fx-text-fill: #ffffff;
}

/* Estilo para las cajas de bienvenida (HBox dentro del VBox) */
.bienvenido {
    -fx-text-fill: #ffffff; /* Color del texto */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-font-size: 16.5px;
}

/* Estilo para la tabla (TableView) */
TableView {
    -fx-background-color: #3e4551; /* Fondo oscuro */
    -fx-border-color: #6c7a89;
    -fx-text-fill: #dcdde1;
    -fx-font-size: 14px;
}

TableView .column-header {
    -fx-background-color: #444b5a;
    -fx-text-fill: #dcdde1;
    -fx-font-size: 14px;
    -fx-text-fill: #dcdde1; /* Color del texto */
    -fx-font-weight: bold;
}

TableView .cell {
    -fx-border-width: 0 0 1px 0; /* Borde solo inferior */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-text-fill: #dcdde1; /* Color del texto */
}

/* Alternancia de color entre filas */
TableView .table-row-cell:odd {
    -fx-background-color: #4d565f; /* Gris oscuro */
}

TableView .table-row-cell:even {
    -fx-background-color: #5a636d; /* Gris claro */
}

/* Estilo para la fila seleccionada */
TableView .table-row-cell:selected {
    -fx-background-color: #1abc9c; /* Color de la fila seleccionada */
    -fx-text-fill: #5c5f76; /* Texto de la fila seleccionada */
}

/* Elimina el fondo adicional de las celdas seleccionadas */
TableView .cell:selected {
    -fx-background-color: #1abc9c;
    -fx-text-fill: #5c5f76;
}

/* Estilo para las etiquetas (Labels) */
Label {
    -fx-text-fill: #ddd; /* Texto oscuro */
    -fx-font-size: 14px;
}

TextField {
    -fx-padding: 2;
    -fx-background-color: #3e4551; /* Fondo oscuro adaptado */
    -fx-text-fill: #dcdde1; /* Texto claro */
    -fx-border-color: #6c7a89; /* Borde en un tono similar al resto */
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Estilo cuando el campo de texto está seleccionado */
TextField:focused {
    -fx-background-color: #4d565f; /* Fondo ligeramente más claro al estar enfocado */
    -fx-border-color: #1abc9c; /* Borde verde al estar enfocado */
}

/* Estilo para el texto de placeholder */
TextField .text-field .prompt-text {
    -fx-text-fill: #888888; /* Texto del placeholder en un tono gris suave */
}

ComboBox {
    -fx-padding: -2;
    -fx-background-color: #3e4551;
    -fx-text-fill: #dcdde1; /* Texto claro para la legibilidad */
    -fx-border-color: #6c7a89; /* Color del borde similar al resto del tema */
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
}

ComboBox .arrow-button {
    -fx-background-color: #3e4551; /* Fondo igual al del ComboBox */
    -fx-border-color: transparent; /* Sin borde para el botón de la flecha */
}

ComboBox .list-cell {
    -fx-background-color: #4d565f; /* Fondo de las opciones */
    -fx-text-fill: #dcdde1; /* Texto claro en las opciones */
}

/* Estilo de la opción seleccionada */
ComboBox .list-cell:selected {
    -fx-background-color: #3e4551; /* Color al seleccionar una opción */
    -fx-text-fill: #dcdde1; /* Texto más oscuro en la opción seleccionada */
}

ComboBox .list-cell:hover {
    -fx-background-color: #1abc9c; /* Fondo más claro para el hover */
    -fx-text-fill: #ffffff; /* Texto blanco para el hover */
}
Line {
    -fx-stroke: #6c7a89;
    -fx-stroke-width: 1.5;
}